<div class="top-section">
    <div class="top-section-body">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="brand-heading">BareFaktura</h1>
                <p class="top-section-text">Enkel og <u>gratis</u> fakturering for enkeltpersonforetak og små bedrifter.</p>
            </div>
        </div>
        <a class="glyph-link page-scroll" href="#side2"><i class="glyphicon glyphicon-download"></i></a>
    </div>
</div>


<div class="middle-section" id="side2">
    <div class="middle-section-body">
        <div class="row">

            <div class="col-sm-offset-3 col-sm-6 text-left">
                <h3>Enkelt, gratis og sikkert</h3>
                <p>
                    Bare Faktura er laget med tanke på deg som overlater regnskapet til en regnskapsfører, men selv tar deg av faktureringen. Med våre oversiktelige sider og gjennomtenkte løsninger kan du frigjøre tid til å fokusere på viktigere ting.
                </p>
                <p>
                    Tjenesten er helt gratis. Dersom du ønsker å "prøvekjøre" BareFaktura kan du registrere en konto og prøve deg frem. Test systemet så lenge du ønsker.
                </p>
                <p>
                    All trafikk går selvfølgelig via krypterte forbindelser, og alle dine data blir sikkerhetskopiert daglig.
                </p>
            </div>
            <div class="col-sm-3">&nbsp;</div>
        </div>
        <a class="glyph-link page-scroll" href="#side3"><i class="glyphicon glyphicon-download"></i></a>
    </div>
</div>

<div class="middle-section" id="side3">
    <div class="middle-section-body">
        <div class="row">

            <div class="col-sm-offset-3 col-sm-6 text-left">
                <h3>En komplett løsning</h3>
                <p>
                    Kunderegister, produktregister og alt annet du trenger. Ved å lagre dine kunder og produkter fyller du enkelt ut en ny faktura i løpet av sekunder. Nye kunder lagres automatisk ved første fakturering.</p>
                <p>
                    Epostlevering, pdf-nedlasting, kreditnota og mer. Alle funksjoner du trenger er enkelt tilgjengelig fra fakturalisten.
                </p>
                <br>
                <p>
                    <%= link_to 'Registrer Konto', new_user_registration_path, class:"btn btn-default btn-block" %>
                </p>
            </div>
            <div class="col-sm-3">&nbsp;</div>
        </div>
    </div>
</div>