<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Velkommen til BareFaktura</h1>
    <p>Hei, <%= @user.name %></p>
    <p>
      Din brukerkonto hos <%= link_to 'Bare Faktura', 'http://www.barefaktura.no' %> er opprettet!
    </p>
    <p>
      Hvis du ikke allerede har gjort det, så kan du kan logge inn med din epost og ditt passord <%= link_to 'her', 'http://www.barefaktura.no/auth/users/sign_in' %>.
    </p>
    <p>
      Kontakt oss gjerne på <%= mail_to 'post@barefaktura.no' %> hvis du lurer på noe!
    </p>
  </body>
</html>