<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Velkommen til Bare Faktura</title>
  </head>
  <body>
    <h1 style="color: #015D70;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;padding: 0;margin: 0;text-align: left;line-height: 1.3;word-break: normal;font-size: 40px;">
      Velkommen til Bare Faktura
    </h1>

    <p style="margin: 0;margin-bottom: 10px;color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;padding: 0;text-align: left;line-height: 19px;font-size: 14px;">
      Din brukerkonto for <b><%= @user.name %></b> hos <a href="http://www.barefaktura.no" style="color: #015D70;text-decoration: none;">BareFaktura.no</a> er opprettet.
    </p>

    <p>
      Hvis du ikke allerede har gjort det, kan du nå logge inn med din epost, <%= @user.email %>, og ditt passord <a href="http://www.barefaktura.no/auth/users/sign_in" style="color: #015D70;text-decoration: none;">her</a>.
    </p>

    <p>
      Kontakt oss gjerne på <a href="mailto:post@barefaktura.no" style="color: #015D70;text-decoration: none;">post@barefaktura.no</a> med alt du måtte ha av spørsmål, ønsker, ris eller ros.

    </p>
  </body>
</html>