<h1>Fakturaoversikt</h1>
<%= render partial: 'invoices/partials/summary' %><br>
<p><%= link_to '+ Ny Faktura', new_invoice_path, class:'btn btn-default btn-block' %></p><br>
  <div id="invoice-list">
    <%= render partial: 'invoices/partials/invoice_list' %>
  </div>
