/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap-datepicker3";
@import "bootstrap";
@import "navbar";
@import "home";
@import "footer";

//////// LAYOUT /////////
html, body
{
  height: 100%;
}

body
{
  padding-top: 90px;
  font-family: "Open Sans";
  color: #666;
}

.wrapper // ensure footer starts below screen
{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -0em;
}

.modal-backdrop {
  z-index: -1;
}

.page-header // unused?
{
  color: #225378;
}

///////// TEXT //////////

h1
{
  font-family: "Fauna One";
  color: #015D70;
  font-size: 40px;
}

h3
{
  font-family: "Fauna One";
  color: #015D70;
  font-size: 25px;
}

h4
{
  font-family: "Fauna One";
}

p
{
  font-family: "Open Sans";
  color: #666;
}

a, a:link, a:visited, a:hover, a:active
{
  color: #015D70;
}

//////// BUTTONS ///////////

.btn
{
  font-family: "Open Sans";
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-primary
{
  background-color: #015D70;
  border-color: #015D70;
}

.btn-primary:hover
{
  background-color: #014A5A;
  border-color: #014A5A;
}

a.btn-primary
{
  color: #fff;
}

//////// TABLES //////////

.table-no-border>thead>tr>th,
.table-no-border>tbody>tr>th,
.table-no-border>tfoot>tr>th,
.table-no-border>thead>tr>td,
.table-no-border>tbody>tr>td,
.table-no-border>tfoot>tr>td
{
  border-top: none;
}
