.footer
{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #015D70;
  color: #fff;
  font-size: 12px;
}

.footer p
{
  color: #fff;
}

.footer h3
{
  color: #fff;
}

.footer a:link, a:visited
{
  color: #fff;
  text-decoration: underline;
}