// This file needs refactoring!

.body-landing
{
  padding-top: 0px !important;
  background-color: #015D70 !important;
}

.glyph-link-up
{
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -20px;
  font-size: 40px;
  color: #fff !important;
  text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
}

.glyph-link-down
{
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -20px;
  font-size: 40px;
  color: #fff !important;
  text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
}

.top-section
{
  display: table;
  width: 100%;
  height:100%;
  margin-top: -70px;
  padding: 0px 30px;
  text-align: center;
  color: #fff;
  background: image-url("home-bg.jpg") no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.top-section .top-section-body
{
  position: relative;
  display: table-cell;
  align: center;
  vertical-align: middle;
}

.top-section .top-section-body .brand-heading
{
  font-size: 70px;
  color: #fff;
  text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
}

.top-section .top-section-body .top-section-text
{
  font-family: "Lato";
  font-size: 18px;
  color: #fff;
}

.top-section .top-section-body a, a:visited
{
  color: #fff;
  text-decoration: none;
}

.top-section .top-section-body a:hover
{
  color: #fff;
  text-decoration: underline;
}

.middle-section
{
  display: table;
  width: 100%;
  height:100%;
  padding: 0px 30px;
  text-align: center;
  color: #fff;
  background-color: #015D70;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.middle-section .middle-section-body
{
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.middle-section .middle-section-body .brand-heading
{
  font-size: 90px;
  color: #fff;
}

.middle-section .middle-section-body .middle-section-text
{
  font-size: 18px;
  color: #fff;
}

.middle-section h3
{
  font-size: 35px;
  color: #fff;
}

.middle-section h4
{
  font-size: 20px;
  color: #fff;
}

.middle-section p
{
  color: #fff;
}

.middle-section .middle-section-body a, a:hover, a:visited
{
  color: #fff;
  text-decoration: underline;
}

.third-section
{
  display: table;
  width: 100%;
  height:100%;
  padding: 0px 30px;
  text-align: center;
  color: #fff;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), image-url("forest-bg.jpg") no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.third-section .third-section-body
{
  position: relative;
  display: table-cell;
  align: center;
  vertical-align: middle;
}

.third-section .third-section-body .brand-heading
{
  font-size: 70px;
  color: #fff;
  text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
}

.third-section .third-section-body .third-section-text
{
  font-size: 18px;
  color: #fff;
}

.third-section .third-section-body a, a:hover, a:visited
{
  color: #fff;
  text-decoration: underline;
}

.third-section h3
{
  font-size: 35px;
  color: #fff;
}

.third-section h4
{
  font-size: 20px;
  color: #fff;
}

.third-section p
{
  color: #fff;
}

a.btn-landing:link, a.btn.btn-landing:visited
{
  color: #666 !important;
  text-decoration: none !important;
}

a.btn.btn-landing:hover
{
  color: #666 !important;
  text-decoration: none !important;
  background-color: #e6e6e6;
}

a.btn.btn-landing:active
{
  color: #666 !important;
  text-decoration: none !important;
}


