<p>Hei, <%= @resource.name %>!</p>

<p>Klikk p책 linken under for 책 lage et nytt passord til din BareFaktura brukerkonto.</p>

<p><%= link_to 'Endre Passord', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Dersom du ikke har bedt om 책 endre ditt passord, vennligst ignorer denne eposten.</p>
<p>Ditt passord vil ikke bli endret med mindre du klikker p책 linken.</p>
