<div class="row">
    <div class="col-sm-4">
        <h4>Villkår for bruk av Bare Faktura</h4>
        <p>
            Ved korrekt bruk vil fakturaer laget med Bare Faktura oppfylle alle offentlige krav til form og innhold. Ved eventuelle endringer i regelverket vil tjenesten bli oppdatert. Dersom en regelendring trer i kraft før tjenesten kan oppdateres vil du bli gjort oppmerksom på det. Du er likevel selv ansvarlig for at dine fakturaer er gyldige, og Bare Faktura kan ikke holdes ansvarlig for eventuelle regelbrudd. Ved å bruke tjenesten aksepterer du dette.
        </p>
    </div>
    <div class="col-sm-4">
        <h4>Kontakt</h4>
        <p>
            Dersom du har spørsmål, oppdager feil, ønsker nye funksjoner eller bare vil si hei, setter vi stor pris på en epost til <%= mail_to 'post@barefaktura.no' %>.
        </p>
    </div>
    <div class="col-sm-12">
        <p>&copy; 2015 BareFaktura.no</p>
    </div>
</div>


