<div class="row">
    <div class="col-sm-4">
        <h4>Bruksvillkår</h4>
        <p>
            Fakturaer laget med Bare Faktura oppfyller alle offentlige krav til form og innhold. Du er likevel selv ansvarlig for at dine fakturaer er gyldige, og Bare Faktura kan ikke holdes ansvarlig for eventuelle regelbrudd. Ved å bruke tjenesten aksepterer du dette.
        </p>
    </div>
    <div class="col-sm-4">
        <h4>Kontakt</h4>
        <p>
            Dersom du har spørsmål, oppdager feil, ønsker nye funksjoner eller bare vil si hei, setter vi stor pris på en epost til <%= mail_to 'post@barefaktura.no' %>.
        </p>
    </div>
    <div class="col-sm-12 text-center">
        <p>&copy; 2015 BareFaktura.no</p>
        <%= debug(params) if Rails.env.development? %>
    </div>
</div>


