<div class="container">
    <p class="text-muted text-justified" style="color: #ccc; border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc; padding: 15px 0"><small>
        BareFaktura.no er en ny tjensete som stadig videreutvikles og forbedres. Dersom du har ønsker, forslag eller andre tilbakemeldinger setter vi pris på en epost til post@barefaktura.no. Merk også at vi gjør vårt beste for å sørge for at fakturaer generert her oppfyller alle offentlige krav til form og innhold, men det er til syvende og sist ditt eget ansvar å følge gjeldende lover og regler. &copy; 2015 BareFaktura.no
      </small>
    </p>
    <p>&nbsp;</p>
</div>