<div class="row">
    <div class="col-sm-6">
        <h4>Villkår for bruk av Bare Faktura</h4>
        <p>
            Bare Faktura skal oppfylle alle offentlige krav til faktureringsprogramvare. Ved eventuelle endringer i regelverket vil tjenesten bli oppdatert for å reflektere disse. Dersom en regelendring trer i kraft før tjenesten kan oppdateres vil du bli gjort oppmerksom på det. Det du selv som til syvende og sist er ansvarlig for at dine fakturaer er gyldige, og Bare Faktura kan ikke holdes ansvarlig for regelbrudd. Ved å bruke tjenesten aksepterer du dette.
        </p>
        <p>&copy; 2015 BareFaktura.no</p>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
        <h4>Kontakt</h4>
        <p>
            Dersom du har spørsmål, oppdager feil, ønsker nye funksjoner eller bare vil si hei, setter vi stor pris på en epost til <%= mail_to 'post@barefaktura.no' %>.
        </p>
    </div>
</div>

