<!-- Send invoice email modal -->
<div class="modal fade" id="modal-invoice-email-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" id="email-invoice-modal"></div>
</div>